<h1>Correlation matrices</h1>
<div class="row">
	<div class="col-sm-6">
		<h2>Description</h2>
		<p>
			Here you can compute the first-, second- or third-order correlation matrices for texts from Project Gutenberg.
		</p>
		<ol>
			<li>First search and select a text from Project Gutenberg</li>
			<li>Analyze the text</li>
			<li>Take a look at the correlation matrix</li>
		</ol>
	</div>
	<div class="col-sm-6">
		<h2>Controls</h2>
		<p>Search for an author or title on Project Gutenberg:</p>
		<p ng-controller="TextAnalyzerCtrl">
			<input type="text" typeahead="book as (book.author + ' - ' + book.title) for book in requestTexts($viewValue)" ng-model="scope.selectedBook" class="form-control"/><br/>
			<button type="button" class="btn" ng-click="loadText(scope.selectedBook.file)">{{ textLoadTextButton }}</button>
			<button type="button" class="btn" compute-corr-on-click>{{ textComputeButton }}</button>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Explore the correlation matrix</h2>
		<p class="corr-matrix" ng-controller="CorrMatrixCtrl">
			<!-- how to include matrix?
				typeahead input, which accepts 1-3 chars and outputs 
				corresponding frequencies (probabilites) of (duos/trios of) chars
			 -->
			<input type="text" ng-model="q" corr-matrix-filter/><br/><br/>
			
			Given "{{ q }}", the probabilities for the following characters are:<br/>
			<ul>
				<li ng-repeat="character in characters">
					{{ character.name }}: {{ character.prob }}
				</li>
			</ul>

			 <!-- add .csv export? - would be cool... -->
		</p>
	</div>
</div>